.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    margin-right: 1em;
  }
}

div {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.footer-bar {
  padding-bottom: 5%;
}

.conf {
  padding: 0;
  list-style: none;
}

.footer {
  bottom: 0;
  height: 30%;
  width: 100%;
}
